#screenshot {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
  visibility: hidden; /* We'll override this with JS once the image is fully loaded */
}

@media only screen and (max-device-width : 480px) {
  body {
    background-color: #8B181C;
  }

  #screenshot {
    height: 100vh;
    max-height: 100%;
  }
}
