#header-navbar {
  color: white;
  background-color: #8B181C;
}

#rynly-header-logo {
  height: 36px;
  padding: 2px 0px 2px 0px;
  margin-left: -15px; /* Text doesn't actually start at image border, so shift it left */
}

#community-txt {
  font-size: 18px;
  color: rgba(255,255,255,.5);
}

#screenshot {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
  visibility: hidden; /* We'll override this with JS once the image is fully loaded */
}

@media only screen and (max-device-width : 480px) {
  body {
    background-color: #8B181C;
  }

  #screenshot {
    height: 100vh;
    max-height: 100%;
  }
}
