#screenshot {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  visibility: hidden; /* We'll override this with JS once the image is fully loaded */
}

@media only screen and (max-device-width : 480px) {
  body {
    background-color: #8B181C;
  }

  #screenshot {
    max-width: 100%;
    min-width: 100%;
  }
}
